In [4]:
import pandas as pd
# 读取数据
# 读取excel文件，用的方法是read_excel
# 读取csv文件,用的方法是read_csv
data=pd.read_csv("salaries.csv")
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [9]:
#把重复列Id删除掉,列：axis=1;行：axis=0
data.drop(["Id"],axis=1,inplace=True)

In [10]:
data.head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [15]:
#把列的名字重命名，便于我们理解
data.columns=["员工姓名","员工职位","基本工资","加班工资","其他支付","福利","总共支付","总共支付加福利","入职年份","附加说明","代理","状态"]

In [16]:
data.head()

,员工姓名,员工职位,基本工资,加班工资,其他支付,福利,总共支付,总共支付加福利,入职年份,附加说明,代理,状态
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [18]:
## 计算员工的平均基本工资是多少
data['基本工资'].mean()

66325.44884050643

In [19]:
## 计算员工加班工资最高的金额是多少
data['加班工资'].max()

245131.88

In [20]:
data['加班工资'].min()

-0.01

In [24]:
## 来查看员工姓名等于GARY JIMENEZ的员工职位是什么
data[data['员工姓名']=='GARY JIMENEZ']['员工职位']

1    CAPTAIN III (POLICE DEPARTMENT)
Name: 员工职位, dtype: object

In [25]:
## 来查看员工姓名等于GARY JIMENEZ的员工基本工资
data[data['员工姓名']=='GARY JIMENEZ']['基本工资']

1    155966.02
Name: 基本工资, dtype: float64

In [26]:
# 我们想要查看一下入职年份有哪些（要求出入职年份的唯一值
data['入职年份'].nunique()

4

In [28]:
data['入职年份'].unique()

array([2011, 2012, 2013, 2014], dtype=int64)

In [31]:
## 收入最高的人是谁
data[data['总共支付加福利']==data['总共支付加福利'].max()]

,员工姓名,员工职位,基本工资,加班工资,其他支付,福利,总共支付,总共支付加福利,入职年份,附加说明,代理,状态
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [33]:
## 收入最低的人的姓名
data[data['总共支付加福利']==data['总共支付加福利'].min()]['员工姓名']

148653    Joe Lopez
Name: 员工姓名, dtype: object

In [36]:
## 每年所有员工的平均工资是多少
data.groupby('入职年份').mean()['基本工资']

入职年份
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: 基本工资, dtype: float64

In [40]:
## 每年公司基本工资的总支出是多少（百万）
data.groupby('入职年份').sum()['基本工资']/1000000

入职年份
2011    2299.566192
2012    2405.834935
2013    2576.380748
2014    2537.369199
Name: 基本工资, dtype: float64

In [41]:
## 从业人数最多的岗位的前5名
data.groupby('员工职位').count()

,员工姓名,基本工资,加班工资,其他支付,福利,总共支付,总共支付加福利,入职年份,附加说明,代理,状态
员工职位,,,,,,,,,,,
ACCOUNT CLERK,83,83,83,83,0,83,83,83,0,83,0
ACCOUNTANT,5,5,5,5,0,5,5,5,0,5,0
ACCOUNTANT INTERN,48,48,48,48,0,48,48,48,0,48,0
"ACPO,JuvP, Juv Prob (SFERS)",1,1,1,1,1,1,1,1,0,1,0
ACUPUNCTURIST,1,1,1,1,0,1,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
X-RAY LABORATORY AIDE,26,26,26,26,0,26,26,26,0,26,0
X-Ray Laboratory Aide,100,100,100,100,100,100,100,100,0,100,0
"YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS",1,1,1,1,0,1,1,1,0,1,0
Youth Comm Advisor,4,4,4,4,4,4,4,4,0,4,0
ZOO CURATOR,1,1,1,1,0,1,1,1,0,1,0

In [43]:
data.groupby('员工职位').count()['员工姓名'].sort_values(ascending=False)

员工职位
Transit Operator                                      7036
Special Nurse                                         4389
Registered Nurse                                      3736
Public Svc Aide-Public Works                          2518
Police Officer 3                                      2421
                                                      ...
BUILDING SERVICES TECHNICIAN                             1
Public Service Aide-Technical                            1
Public Safety Comm Tech                                  1
CAPTAIN, BUREAU OF FIRE PREVENTION AND PUBLIC SAFE       1
ZOO CURATOR                                              1
Name: 员工姓名, Length: 2159, dtype: int64

In [44]:
## 第二种方法实现
data.groupby('员工职位').count().sort_values(by='员工姓名',ascending=False)['员工姓名']

员工职位
Transit Operator                                      7036
Special Nurse                                         4389
Registered Nurse                                      3736
Public Svc Aide-Public Works                          2518
Police Officer 3                                      2421
                                                      ...
BUILDING SERVICES TECHNICIAN                             1
Public Service Aide-Technical                            1
Public Safety Comm Tech                                  1
CAPTAIN, BUREAU OF FIRE PREVENTION AND PUBLIC SAFE       1
ZOO CURATOR                                              1
Name: 员工姓名, Length: 2159, dtype: int64

In [47]:
## 第三种实现
data['员工职位'].value_counts().head(6)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Custodian                       2418
Name: 员工职位, dtype: int64

In [48]:
## lambda 复习
## 匿名函数
def two_number_add(a,b):
    return a+b
two_number_add(1,2)

3

In [49]:
add=lambda a,b:a+b
add(1,2)

3

In [53]:
## 有多少人在他们的工作头衔中包含Chief这个词 upper()是把所有字符串变成大写
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [54]:
## apply 的意思是把前边数据当中的所有值一个一个的给到参数当中的函数
data['员工职位'].apply(lambda x:chief_string(x))

0         False
1         False
2         False
3         False
4          True
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Name: 员工职位, Length: 148654, dtype: bool

In [55]:
sum(data['员工职位'].apply(lambda x:chief_string(x)))

627